<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%=@seo_keywords %>" />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= render "shared/nav", location:'top' %>

<!-- This is a helper instance, pulling from code written in the application_helper file -->
    <%= login_helper %>

<!-- This pulls in the content of the page that is unique to it as defined in the controller and server-->
    <%= yield %>

<!-- This is YOUR homemade gem -->
    <br><%= copyright_generator %>

<!-- This is a content-helper instance, pulling from code written in the application_helper file -->
    <%= source_helper("application")%>

  </body>
</html>
